# ====================== 你要求忽略的内容 ======================
# 1. 压缩包（绝对不要）
*.zip
*.tar.gz
*.rar

# 2. 运行输出目录（绝对不要）
run_output/
# 所有图片文件
*.jpg
*.jpeg
*.png
*.bmp
*.log

# 3. CMake 编译产生的所有垃圾
build/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
*.o
*.so
*.a
*.sock
*.fifo
snap_*.jpg
gateway_app

# 4. 系统/IDE 垃圾文件
.vscode/
.DS_Store
*.swp
opencv-mobile-4.13.0/
